.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-new {
  position: absolute;
  left: 80px;
}

.product-container-container {
  margin: 3%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5%;
  row-gap: 30px;
  margin: 3%;
}

.single-container {
  width: 50vh;
}

.card-text {
  width: auto;
  height: 100px;
  padding: 10px;
  overflow: hidden;
}

.Heading {
  margin-top: 3%;
}

.EachProduct {
  display: flex;
  position: absolute;
  margin: 2%;
  margin-right: 10%;
  margin-left: 10%;
  gap: 3%;
  justify-content: center;
  width: 75%;
}

.image {
  width: 500px;
}

.Description {
  text-align: left;
}

.OtherDetails {
  margin-top: 30px;
}

.Buy {
  position: absolute;
  right: 15%;
  border-radius: 15%;
}

.custom-modal {
  /* Your custom styles for the modal content */
  color: rgb(5, 5, 5);
  padding: 20px;
  border-radius: 5px;
}

.parentbutton {
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* CSS */
.button-34 {
  background: #333363;
  box-shadow: #1a1a3b 0 10px 20px -10px;
}

.button-33 {
  background: #000000;
  box-shadow: #1b080a 0 10px 20px -10px;
}

.popupdiv-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupdiv {
  background-color: rgb(236, 232, 232);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  border-radius: 10%;
  width: 30%;
  height: 400px;
}

.Radiobuttons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.ListForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 30%;
  border: 1px solid rgb(53, 51, 51);
  height: 550px;
  border-radius: 10%;
}

.button-35 {
  background-color: rgb(53, 51, 51);
}

.InputField{
  height: 40px;
  width: 75%;
  border:1px solid white;
  border-bottom: 1px solid black;

}

.InputField:focus{
  outline: none;
}

.FileField{
  height: auto;
  width: 75%;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the custom radio button */
input[type="radio"] + label {
  width: 150px;
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  border: 2px solid #bbb;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

/* Style the custom radio button when selected */
input[type="radio"]:checked + label {
  background-color: #2196F3;
  color: #fff;
  border-color: #2196F3;
}

.xpos {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.user-data {
  border: 1px solid #ccc;
  padding: 20px;
  width: 30%;
  text-align: left;
  font-family: sans-serif;
  font-size: large;
}

.property {
  font-weight: bold;
}

.value {
  margin-bottom: 10px;
}
